.titre_debut {
    margin-top: 60px;
}

.article h2 {
    color: red;
    font-weight: bold;
}

.article2 h2 {
    color: darkgreen;
    font-family: 'Paradise';
}

.read {
    border: none;
    background: rgb(78, 197, 241);
    border-radius: 2px!important;
    color: white;
    cursor: pointer;
}
/*#header .menu .menu_l {
    padding: 70px 20px;
    background: #2e7d32!important;
    width: 108px !important;
    transform: translateX(-120px);
    position: absolute;
    left: 0;
    top: 0;
    height: 1000%;
    z-index: 11;
}*/
#accueil_content{
    padding: 15px !important;
}
#info{
    overflow-x: hidden;
}

#accueil_content #contact{
    width: 99%;
    margin: 0;
    overflow-x:hidden; 
}